body {
	background-color: #e7e7eb;
	background-image: url("../images/paissa.png"), url("../images/snow.png"), url("../images/snow2.png"), url("../images/snow3.png");
	background-attachment: fixed;

	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}
nav {
	height: 34px;
	line-height: 34px;
}

footer {
	background-image: url( "../images/paissa_03.png" );
	background-position: center;

	text-shadow: 1px 1px 3px #000;
}

p {
	padding: 5px 0px;
}
.caption {
	color: #e6b422;
	text-shadow: 3px 3px 5px #ad7d4c;
}

.card {
	background-color: rgba( 225, 152, 180, 0.6 );
}

.card-title {
	color: white;
	text-shadow: 1px 1px 3px #000;
}

@keyframes snow {
	0% {background-position: center, 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: center,500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
	0% {background-position: center, 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: center, 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
	0% {background-position: center, 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: center, 500px 1000px, 400px 400px, 300px 300px;}
}

@-ms-keyframes snow {
	0% {background-position: center, 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: center, 500px 1000px, 400px 400px, 300px 300px;}
}
