!!! 5

%head
  %title 3.1415π パッチノート | FINAL FANTASY XIV

  %meta{ content:"width=device-width; initial-scale=1", name:"viewport" }
  %link{ rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" }
  %link{ rel:"stylesheet", href:"stylesheets/index.css" }

%body
  %nav.black
    .nav-wrapper
      SQUARE ENIX
      .right
        JP only. Sorry other languages.

  %main.section
    .row.container
      .col.s12.m12
        .card{ style:"background-color:rgba(0,0,0,0.6);" }
          .card-content
            .center
              %h2.caption 3.1415π パッチノート公開
              
              %p.white-text
                パッチ3.1415πでは、サブストーリークエスト「パイッサ幻想伝説」を中心に新たな討滅戦、新バディや新ジョブの追加など様々な追加／調整が行われます。ぜひご覧ください。
              %p.red-text
                このパッチノートはネタです。FF14ユーザーによる非公式なページです。間違っても鵜呑みにしないでください

              %p
                %a.twitter-share-button{ href:"https://twitter.com/share"} Tweet
              %hr

            .card
              .card-content
                .card-title
                  3.1415π パッチノート

                .collection
                  %a.collection-item{ href:"#event-info" } イベント関連
                  %a.collection-item{ href:"#battle-info" } バトル関連
                  %a.collection-item{ href:"#item-info" } アイテム関連
                  %a.collection-item{ href:"#system-info" } システム関連
                  %a.collection-item{ href:"#fix-bugs" } 不具合修正
                  %a.collection-item{ href:"#known-bugs" } 確認されている不具合
            .card#event-info
              .card-content
                .card-title
                  イベント関連

                %p
                  新たなサブストーリークエスト「パイッサ幻想伝説」が追加されます。
                  %img{ src:"images/paissa_01.png", width:"50%", height:"50%" }
                  
                  %table
                    %thead
                      %tr
                        %th クエスト名
                        %th 受注レベル／受注場所／受注条件
                    %tbody
                      %tr
                        %td タマネギに笑う者はタマネギに泣く
                        %td
                          ファイター／ソーサラー レベル60
                          %br
                          アバラシア雲海(X,Y)
                          %br
                          NPC"新米騎士"
                          %br
                      %tr
                        %td もしもし、私よ・・・
                        %td
                          ファイター／ソーサラー レベル60
                          %br
                          モードゥナ(X,Y)
                          %br
                          NPC"???"
                      %tr
                        %td こだわりの岩
                        %td
                          ファイター／ソーサラー レベル60
                          %br
                          かいはつしつ(X,Y)
                          %br
                          NPC"???"
                      %tr
                        %td パックを避けろ！！
                        %td
                          ファイター／ソーサラー レベル60
                          %br
                          ウルダハ・ナル回廊(X,Y)
                          %br
                          NPC"???"
                      %tr
                        %td ねむりのけんを求めて
                        %td
                          ファイター／ソーサラー レベル60
                          %br
                          リムサ・ロミンサ　上層甲板(X,Y)
                          %br
                          NPC"???"
                      %tr
                        %td ねむれるししを倒せ！
                        %td
                          ファイター／ソーサラー レベル60
                          %br
                          イデルシャイア(X,Y)
                          %br
                          NPC"???"
                         
                %p
                  新たな蛮族デイリークエストとしてパイッサ族の蛮族デイリークエストが追加になります
                  %br
                  開始クエストは以下のクエストからはじめることが出来ます

                  %table
                    %thead
                      %tr
                        %th クエスト名
                        %th 受注レベル／受注場所／受注条件
                    %tbody
                      %tr
                        %td 玉蹴りは混乱の始まり？
                        %td
                          ファイター／ソーサラー レベル60
                          %br
                          アバラシア雲海(X,Y)
                          %br
                          NPC"???"
                          %br
                  

            .card#battle-info
              .card-content
                .card-title
                  バトル関連
                %p
                  新たな討伐・討滅戦として「パイッサ討滅戦」及び「極パイッサ討滅戦」が追加されます
                  %br
                  以下のクエストを受注することでコンテンツが解放されます
                %table
                  %thead
                    %tr
                      %th クエスト名
                      %th 受注レベル／受注場所／受注条件
                  %tbody
                    %tr
                      %td かわいいけれど侮るなかれ
                      %td
                        ファイター／ソーサラー レベル60
                        %br
                        アバラシア雲海(X,Y)
                        %br
                        NPC"???"
                        %br
                %p
                  以下のジョブに新規アクションが実装されます

                  %table
                    %thead
                      %tr
                        %th ジョブ・クラス名
                        %th アクション名
                    %tbody
                      %tr
                        %td 黒魔道士
                        %td ミラクルフラッシュ
                      %tr
                        %td 巴術士
                        %td サモン（パイッサ）
                      %tr
                        %td 召喚士
                        %td サモン（スクオンク）
            .card#item-info
              .card-content
                .card-title
                  アイテム関連

                %p
                  新たなアイテムが追加されます。
                  %br
                  詳しくは「こちら」をご覧ください。
            .card#system-info
              .card-content
                .card-title
                  システム関連

                %p
                  新たなアチーブメント／称号が追加されます。

                %table
                  %thead
                    %tr
                      %th タイトル
                      %th 到達条件
                  %tbody
                    %tr
                      %td もふもふの果てに
                      %td
                        クエスト「？？？」をコンプリートする

                %p
                  バディシステムに機能追加が行われ、新たに別の種類のバディとしてパイッサを呼び出すことが出来るようになります。
                  %br
                  チョコボとパイッサのランクは別々に扱われます。また、パイッサの初期ランク・獲得経験値量は現在のチョコボのランク・獲得経験値量を引き継ぎます。
            .card#fix-bugs
              .card-content
                .card-title
                  不具合修正

                %p
                  %ul
                    %li 一部モンスターのモーションが正しく再生されない問題を修正しました。
                    %li 一部クエストにおいて表示されるべきNPCが表示されない問題を修正しました。
                    %li 「よしだ」を含む文字列を発言すると希にサーバーから切断される問題を修正しました。
            .card#known-bugs
              .card-content
                .card-title
                  確認されている不具合
                %p
                  %ul
                    %li パイッサに対して特定のエモートをすると、クライアントが強制終了する不具合が確認されています。


  %footer.page-footer.black
    .container
      .row
        .col.s12.m8
          %h5.white-text このパッチノートについて
          %p.grey-text.text-lighten-4
            いちユーザーの突然に思いつきによって作られました。
            %br
            ふんだんとネタを盛り込もうと頑張った結果がこれです。
            %br
            皆さんに笑いのある一年をと思います。
        .col.s4.m4
          %h5.white-text Special Thanks
          
          %ul
            %li
              %a{ href:"https://twitter.com/kogarasi_cross" } @kogarasi_cross
            %li
              %a{ href:"https://google.co.jp" } @xxxxxx
    .footer-copyright
      .container
        Copyright All rights reserved 
        %a{ href: "https://twitter.com/kogarasi_cross" } @kogarasi_cross.
        SQUAREENIX CO,LTD All Rights Reserved. FINAL FANTASY XIV


%script{ src:"https://code.jquery.com/jquery-2.1.4.min.js" }
%script{ src:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" }
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
